.custom-form
    border: 1px solid blue
    width: 100%
    position: relative
    .custom-search
        height: 40px
        border-radius: 30px
        width: 70%
    .search-button
        position: absolute
        top: 0
        right: 10px
        width: 30%
        border: 1px solid red
nav
    li
        a
            margin-left: 20xp
            margin-right: 20px
