@import url("./resets/reset.css");
@import url("./resets/normalize.css");
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

.col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
}

.rules {
  background-color: #707070;
  height: 500px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 74px;
}
.rules .card {
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between !important;
}
.rules .card .rule-list {
  width: 100%;
}
.rules .card .rule-list h1 {
  letter-spacing: 1.3px;
  color: #EFC862;
  text-align: center;
  text-decoration: underline;
  font-size: 42px;
}
.rules .card .rule-list ul {
  margin-left: 50px;
  margin-right: 50px;
}
.rules .card .rule-list ul li {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #FFFFFF;
}
.rules .card .rule-accept {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}
.rules .card .rule-accept p {
  margin-left: 10px;
  color: #FFFFFF;
}
.rules .card .rule-accept p span {
  color: #EFC862;
}

.login {
  width: 30%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(112, 112, 112, 0.4);
  padding-bottom: 30px;
  border-radius: 20px;
}

input {
  display: block;
}

.primary-input {
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding: 12px 25px;
  border-radius: 12px;
  margin-bottom: 35px;
}

.primary-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding: 12px 25px;
  border-radius: 25px;
  color: #EFC862;
}

.sign-button {
  width: 50%;
  height: 50px;
  outline: none;
  background-color: #EFC862;
  border-top-right-radius: 20px;
}

.register-button {
  width: 50%;
  height: 50px;
  color: #EFC862;
  outline: none;
  border-bottom: 1px solid #707070;
  background-color: transparent;
  border-top-left-radius: 20px;
}

.user-profile-image {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

.password-forget {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
.password-forget a {
  color: #FFFFFF;
  text-decoration: none;
}

.register {
  width: 30%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.sign-button {
  width: 50%;
  height: 50px;
}

input {
  display: block;
}

.primary-input {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding: 12px 25px;
  border-radius: 12px;
}

.primary-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding: 12px 25px;
  border-radius: 25px;
  color: #EFC862;
}/*# sourceMappingURL=style.css.map */